In [2]:
import pandas as pd

In [3]:
pd.read_csv(filepath_or_buffer="../DATA/pokemon.csv")
pd.read_csv("../DATA/pokemon.csv")

         Pokemon            Type
0      Bulbasaur  Grass / Poison
1        Ivysaur  Grass / Poison
2       Venusaur  Grass / Poison
3     Charmander            Fire
4     Charmeleon            Fire
..           ...             ...
804    Stakataka    Rock / Steel
805  Blacephalon    Fire / Ghost
806      Zeraora        Electric
807       Meltan           Steel
808     Melmetal           Steel

[809 rows x 2 columns]

In [4]:
pd.read_csv("../DATA/pokemon.csv",index_col="Pokemon")

                       Type
Pokemon
Bulbasaur    Grass / Poison
Ivysaur      Grass / Poison
Venusaur     Grass / Poison
Charmander             Fire
Charmeleon             Fire
...                     ...
Stakataka      Rock / Steel
Blacephalon    Fire / Ghost
Zeraora            Electric
Meltan                Steel
Melmetal              Steel

[809 rows x 1 columns]

In [80]:
pokemon=pd.read_csv("../DATA/pokemon.csv") # DataFrame을 Series로 squeeze없이 강제 변환
pokemon=pd.Series(data=list(pokemon["Type"]),index=list(pokemon["Pokemon"]))
pokemon

Bulbasaur      Grass / Poison
Ivysaur        Grass / Poison
Venusaur       Grass / Poison
Charmander               Fire
Charmeleon               Fire
                    ...
Stakataka        Rock / Steel
Blacephalon      Fire / Ghost
Zeraora              Electric
Meltan                  Steel
Melmetal                Steel
Length: 809, dtype: object

In [63]:
pd.read_csv("../DATA/google_stocks.csv").head()

         Date  Close
0  2004-08-19  49.98
1  2004-08-20  53.95
2  2004-08-23  54.50
3  2004-08-24  52.24
4  2004-08-25  52.80

In [64]:
pd.read_csv("../DATA/google_stocks.csv", parse_dates=["Date"]).head()

        Date  Close
0 2004-08-19  49.98
1 2004-08-20  53.95
2 2004-08-23  54.50
3 2004-08-24  52.24
4 2004-08-25  52.80

In [79]:
google = pd.read_csv("../DATA/google_stocks.csv", parse_dates=["Date"])# DataFrame을 Series로 squeeze없이 강제 변환
google=pd.Series(index=list(google["Date"]), data=list(google["Close"]))
google

2004-08-19      49.98
2004-08-20      53.95
2004-08-23      54.50
2004-08-24      52.24
2004-08-25      52.80
               ...
2019-10-21    1246.15
2019-10-22    1242.80
2019-10-23    1259.13
2019-10-24    1260.99
2019-10-25    1265.13
Length: 3824, dtype: float64

In [69]:
pd.read_csv("../DATA/revolutionary_war.csv").tail()

                         Battle  Start Date     State
227         Siege of Fort Henry   9/11/1782  Virginia
228  Grand Assault on Gibraltar   9/13/1782       NaN
229   Action of 18 October 1782  10/18/1782       NaN
230   Action of 6 December 1782   12/6/1782       NaN
231   Action of 22 January 1783   1/22/1783  Virginia

In [71]:
pd.read_csv("../DATA/revolutionary_war.csv", index_col="Start Date", parse_dates=["Start Date"]).tail()

                                Battle     State
Start Date
1782-09-11         Siege of Fort Henry  Virginia
1782-09-13  Grand Assault on Gibraltar       NaN
1782-10-18   Action of 18 October 1782       NaN
1782-12-06   Action of 6 December 1782       NaN
1783-01-22   Action of 22 January 1783  Virginia

In [77]:
revolution=pd.read_csv("../DATA/revolutionary_war.csv",parse_dates=["Start Date"],usecols=["State","Start Date"])
battles=pd.Series(data=list(revolution["State"]), index=list(revolution["Start Date"]))
battles

1774-09-01    Massachusetts
1774-12-14    New Hampshire
1775-04-19    Massachusetts
1775-04-19    Massachusetts
1775-04-20         Virginia
                  ...
1782-09-11         Virginia
1782-09-13              NaN
1782-10-18              NaN
1782-12-06              NaN
1783-01-22         Virginia
Length: 232, dtype: object

In [81]:
google.sort_values()

2004-09-03      49.82
2004-09-01      49.94
2004-08-19      49.98
2004-09-02      50.57
2004-09-07      50.60
               ...
2019-04-23    1264.55
2019-10-25    1265.13
2018-07-26    1268.33
2019-04-26    1272.18
2019-04-29    1287.58
Length: 3824, dtype: float64

In [82]:
pokemon.sort_values()

Illumise                Bug
Silcoon                 Bug
Pinsir                  Bug
Burmy                   Bug
Wurmple                 Bug
                  ...
Tirtouga       Water / Rock
Relicanth      Water / Rock
Corsola        Water / Rock
Carracosta     Water / Rock
Empoleon      Water / Steel
Length: 809, dtype: object

In [83]:
pd.Series(data=["Adam","adam","Ben"]).sort_values()

0    Adam
2     Ben
1    adam
dtype: object

In [84]:
google.sort_values(ascending=False).head()

2019-04-29    1287.58
2019-04-26    1272.18
2018-07-26    1268.33
2019-10-25    1265.13
2019-04-23    1264.55
dtype: float64

In [85]:
pokemon.sort_values(ascending=False).head()

Empoleon      Water / Steel
Corsola        Water / Rock
Relicanth      Water / Rock
Carracosta     Water / Rock
Tirtouga       Water / Rock
dtype: object

In [87]:
battles.sort_values()
battles.sort_values(na_position="last")

1781-09-06    Connecticut
1779-07-05    Connecticut
1777-04-27    Connecticut
1777-09-03       Delaware
1777-05-17        Florida
                 ...
1782-08-08            NaN
1782-08-25            NaN
1782-09-13            NaN
1782-10-18            NaN
1782-12-06            NaN
Length: 232, dtype: object

In [88]:
battles.sort_values(na_position="first")

1775-09-17         NaN
1775-12-31         NaN
1776-03-03         NaN
1776-03-25         NaN
1776-05-18         NaN
                ...
1781-07-06    Virginia
1781-07-01    Virginia
1781-06-26    Virginia
1781-04-25    Virginia
1783-01-22    Virginia
Length: 232, dtype: object

In [89]:
battles.dropna().sort_values()

1781-09-06    Connecticut
1779-07-05    Connecticut
1777-04-27    Connecticut
1777-09-03       Delaware
1777-05-17        Florida
                 ...
1781-07-06       Virginia
1781-07-01       Virginia
1781-06-26       Virginia
1781-04-25       Virginia
1783-01-22       Virginia
Length: 162, dtype: object

In [90]:
pokemon.sort_index()
pokemon.sort_index(ascending=True)

Abomasnow        Grass / Ice
Abra                 Psychic
Absol                   Dark
Accelgor                 Bug
Aegislash      Steel / Ghost
                  ...
Zoroark                 Dark
Zorua                   Dark
Zubat        Poison / Flying
Zweilous       Dark / Dragon
Zygarde      Dragon / Ground
Length: 809, dtype: object

In [91]:
battles.sort_index()

1774-09-01    Massachusetts
1774-12-14    New Hampshire
1775-04-19    Massachusetts
1775-04-19    Massachusetts
1775-04-20         Virginia
                  ...
1783-01-22         Virginia
NaT              New Jersey
NaT                Virginia
NaT                     NaN
NaT                     NaN
Length: 232, dtype: object

In [92]:
battles.sort_index(na_position="first").head()

NaT              New Jersey
NaT                Virginia
NaT                     NaN
NaT                     NaN
1774-09-01    Massachusetts
dtype: object

In [93]:
battles.sort_index(ascending=False).head()

1783-01-22    Virginia
1782-12-06         NaN
1782-10-18         NaN
1782-09-13         NaN
1782-09-11    Virginia
dtype: object

In [94]:
google.sort_values(ascending=False).head()

2019-04-29    1287.58
2019-04-26    1272.18
2018-07-26    1268.33
2019-10-25    1265.13
2019-04-23    1264.55
dtype: float64

In [95]:
google.nlargest(n=5)
google.nlargest()

2019-04-29    1287.58
2019-04-26    1272.18
2018-07-26    1268.33
2019-10-25    1265.13
2019-04-23    1264.55
dtype: float64

In [96]:
google.nsmallest(n=5)
google.nsmallest(5)

2004-09-03    49.82
2004-09-01    49.94
2004-08-19    49.98
2004-09-02    50.57
2004-09-07    50.60
dtype: float64

In [97]:
battles.head(3)

1774-09-01    Massachusetts
1774-12-14    New Hampshire
1775-04-19    Massachusetts
dtype: object

In [99]:
battles.sort_values().head(3)

1781-09-06    Connecticut
1779-07-05    Connecticut
1777-04-27    Connecticut
dtype: object

In [100]:
battles.head(3)

1774-09-01    Massachusetts
1774-12-14    New Hampshire
1775-04-19    Massachusetts
dtype: object

In [102]:
battles.sort_values(inplace=True)

In [103]:
battles.head(3)

1781-09-06    Connecticut
1779-07-05    Connecticut
1777-04-27    Connecticut
dtype: object

In [104]:
pokemon.head()

Bulbasaur     Grass / Poison
Ivysaur       Grass / Poison
Venusaur      Grass / Poison
Charmander              Fire
Charmeleon              Fire
dtype: object

In [105]:
pokemon.value_counts()

Normal                65
Water                 61
Grass                 38
Psychic               35
Fire                  30
                      ..
Fire / Psychic         1
Normal / Ground        1
Psychic / Fighting     1
Dark / Ghost           1
Fire / Ghost           1
Name: count, Length: 159, dtype: int64

In [106]:
len(pokemon.value_counts())

159

In [108]:
pokemon.nunique()

159

In [109]:
pokemon.value_counts(ascending=True)

Fire / Ghost         1
Fighting / Dark      1
Fighting / Steel     1
Normal / Ground      1
Fire / Psychic       1
                    ..
Fire                30
Psychic             35
Grass               38
Water               61
Normal              65
Name: count, Length: 159, dtype: int64

In [110]:
pokemon.value_counts(normalize=True).head()

Normal     0.080346
Water      0.075402
Grass      0.046972
Psychic    0.043263
Fire       0.037083
Name: proportion, dtype: float64

In [111]:
pokemon.value_counts(normalize=True).head()*100

Normal     8.034611
Water      7.540173
Grass      4.697157
Psychic    4.326329
Fire       3.708282
Name: proportion, dtype: float64

In [112]:
(pokemon.value_counts(normalize=True)*100).round(2)

Normal                8.03
Water                 7.54
Grass                 4.70
Psychic               4.33
Fire                  3.71
                      ...
Fire / Psychic        0.12
Normal / Ground       0.12
Psychic / Fighting    0.12
Dark / Ghost          0.12
Fire / Ghost          0.12
Name: proportion, Length: 159, dtype: float64

In [113]:
google.value_counts().head()

287.68    3
194.27    3
307.10    3
288.92    3
290.41    3
Name: count, dtype: int64

In [115]:
google.max()

1287.58

In [116]:
google.min()

49.82

In [118]:
buckets=[0,200,400,600,800,1000,1200,1400]
google.value_counts(bins=buckets)

(200.0, 400.0]      1568
(-0.001, 200.0]      595
(400.0, 600.0]       575
(1000.0, 1200.0]     406
(600.0, 800.0]       380
(800.0, 1000.0]      207
(1200.0, 1400.0]      93
Name: count, dtype: int64

In [120]:
google.value_counts(bins=buckets).sort_index()

(-0.001, 200.0]      595
(200.0, 400.0]      1568
(400.0, 600.0]       575
(600.0, 800.0]       380
(800.0, 1000.0]      207
(1000.0, 1200.0]     406
(1200.0, 1400.0]      93
Name: count, dtype: int64

In [121]:
google.value_counts(bins=buckets, sort=False)

(-0.001, 200.0]      595
(200.0, 400.0]      1568
(400.0, 600.0]       575
(600.0, 800.0]       380
(800.0, 1000.0]      207
(1000.0, 1200.0]     406
(1200.0, 1400.0]      93
Name: count, dtype: int64

In [123]:
google.value_counts(bins=6, sort=False)

(48.581, 256.113]      1204
(256.113, 462.407]     1104
(462.407, 668.7]        507
(668.7, 874.993]        380
(874.993, 1081.287]     292
(1081.287, 1287.58]     337
Name: count, dtype: int64

In [124]:
battles.head()

1781-09-06    Connecticut
1779-07-05    Connecticut
1777-04-27    Connecticut
1777-09-03       Delaware
1777-05-17        Florida
dtype: object

In [126]:
battles.value_counts().head()

South Carolina    31
New York          28
New Jersey        24
Virginia          21
Massachusetts     11
Name: count, dtype: int64

In [127]:
battles.value_counts(dropna=False).head()

NaN               70
South Carolina    31
New York          28
New Jersey        24
Virginia          21
Name: count, dtype: int64

In [128]:
battles.index

DatetimeIndex(['1781-09-06', '1779-07-05', '1777-04-27', '1777-09-03',
               '1777-05-17', '1779-09-10', '1779-09-07', '1780-03-02',
               '1778-06-30', '1781-01-07',
               ...
               '1782-05-06', '1782-05-25', '1782-05-28', '1782-07-01',
               '1782-07-06', '1782-08-08', '1782-08-25', '1782-09-13',
               '1782-10-18', '1782-12-06'],
              dtype='datetime64[ns]', length=232, freq=None)

In [129]:
funcs=[len,max,min]
for current_func in funcs:
    print(current_func(google))

3824
1287.58
49.82

In [130]:
round(99.2)

99

In [131]:
round(99.49)

99

In [132]:
round(99.5)

100

In [133]:
google.apply(func=round)
google.apply(round)

2004-08-19      50
2004-08-20      54
2004-08-23      54
2004-08-24      52
2004-08-25      53
              ...
2019-10-21    1246
2019-10-22    1243
2019-10-23    1259
2019-10-24    1261
2019-10-25    1265
Length: 3824, dtype: int64

In [134]:
def single_of_multi(pokemon_type):
    if "/" in pokemon_type :
        return "Multi"
    return "Single"

In [135]:
pokemon.head(4)

Bulbasaur     Grass / Poison
Ivysaur       Grass / Poison
Venusaur      Grass / Poison
Charmander              Fire
dtype: object

In [136]:
pokemon.apply(single_of_multi)

Bulbasaur       Multi
Ivysaur         Multi
Venusaur        Multi
Charmander     Single
Charmeleon     Single
                ...
Stakataka       Multi
Blacephalon     Multi
Zeraora        Single
Meltan         Single
Melmetal       Single
Length: 809, dtype: object

In [137]:
pokemon.apply(single_of_multi).value_counts()

Multi     405
Single    404
Name: count, dtype: int64

In [194]:
# 코딩챌린지
import datetime as dt
# revolutionary_war.csv에서 요일추출만 하면 되므로 usecols사용하여 한개의 열만 뽑아옴
battles=pd.read_csv("../Data/revolutionary_war.csv", parse_dates=["Start Date"], usecols=["Start Date"]) 

battles_idx=[] # 요일 인덱스를 넣을 배열 생성
for idx in range(0,232,1) : # battles.info()를 통해 얻은 정보를 통해 0~231행까지 반복
    war_date = str(battles.values[idx]).split("-") # 각 행마다의 정보를 뽑아와 "-"로 분리한 것을 war_date에 넣음
    if len(war_date[0]) ==6 :  # 결측값 제거, 년 데이터가 길이가 6이 아니면 결측값이라고 판단
        # 각각 year,monoth,day를 슬라이싱
        year=int(war_date[0][2:6]) 
        month=int(war_date[1]) if int(war_date[1][0]) else int(war_date[1][1:2]) 
        day=int(war_date[2][0:2])
        battles_idx.append(dt.datetime(year,month,day).strftime("%A")) # 인덱스 배열에 요일 값 추가
    else :  # 결측값일 경우 NaN 인덱스 부여
        battles_idx.append("NaN")
battles.index=battles_idx # 요일 인덱스를 battles인덱스로 설정
battles=battles.reset_index() # 행이었던 요일 인덱스를 열로 가져옴
battles.reindex(["index"], axis="columns").value_counts().head(7) 
# 요일 열 하나만 남기고 value_count사용, head(7)사용하여 요일별 총빈도 데이터 출력

    Start Date
0   1774-09-01
1   1774-12-14
2   1775-04-19
3   1775-04-19
4   1775-04-20
..         ...
227 1782-09-11
228 1782-09-13
229 1782-10-18
230 1782-12-06
231 1783-01-22

[232 rows x 1 columns]

index
Friday       39
Saturday     39
Wednesday    32
Sunday       31
Thursday     31
Tuesday      29
Monday       27
Name: count, dtype: int64

In [234]:
# 코딩챌린지 - 답지
import datetime as dt
# revolutionary_war.csv에서 요일추출만 하면 되므로 usecols사용하여 한개의 열만 뽑아옴
days_of_war=pd.read_csv("../Data/revolutionary_war.csv", parse_dates=["Start Date"], usecols=["Start Date"])  
# 답지에는 Series기준으로 사용자 정의 함수를 만들어 apply를 사용하므로, squeeze 없이 Series로 생성 작업 필요
days_of_war=pd.Series(data=(days_of_war["Start Date"]))
def day_of_week(date):
    return date.strftime("%A")
days_of_war.dropna().apply(day_of_week).value_counts() # dropna()로 결측값을 삭제함

Start Date
Saturday     39
Friday       39
Wednesday    32
Thursday     31
Sunday       31
Tuesday      29
Monday       27
Name: count, dtype: int64

Start Date
Saturday     39
Friday       39
Wednesday    32
Thursday     31
Sunday       31
Tuesday      29
Monday       27
Name: count, dtype: int64