### [ 다양한 Series 객체 생성 ]

#### (1) 모듈 로딩

In [1]:
import pandas as pd

#### (2) Series 객체 생성 - 방법 1
- Series( data, index )

In [5]:
sr1=pd.Series([11,22,33], index=['one','two','three'])
sr1

one      11
two      22
three    33
dtype: int64

#### (2) Series 객체 셍성 - 방법 2

In [6]:
sr1=pd.Series([11,22,33],index=['one','two','three'],name='jumsu')
sr1

one      11
two      22
three    33
Name: jumsu, dtype: int64

#### (2) Series 객체 생성 - 방법 3

In [10]:
sr1=pd.Series([11,22,33],index=['one','two','three'], name='yahoo',dtype='uint8')
sr1

one      11
two      22
three    33
Name: yahoo, dtype: uint8

#### (2) Series 객체 생성 - 방법 4 => 저장되는 데이터 dict

In [15]:
data={'name':'홍길동','age':12, 'job':'도적'} # 딕셔너리 형태로 넣음
sr1=pd.Series(data)
sr1

name    홍길동
age      12
job      도적
dtype: object

In [16]:
#속성 확인하기
sr1.index

Index(['name', 'age', 'job'], dtype='object')

In [17]:
# 값 확인하기
sr1.values

array(['홍길동', 12, '도적'], dtype=object)

#### (2) Series 객체 생성 - 방법 5 => 저장되는 데이터 set

In [28]:
data=list({'홍길동',12,'도적'}) # 순서없는 데이터, 중복 불허
# 형변환 후 객체 생성 가능
st1=pd.Series(data, index=[0,1,2])
st1

0    홍길동
1     도적
2     12
dtype: object