### [ Series ] 객체 원소 인덱싱 & 슬라이싱

#### (1) 모듈 로딩 -------------------------------------

In [5]:
from pandas import Series

#### (2) 데이터 준비-------------------------------

In [3]:
datas={'name':'홍길동','age':12, 'job':'도적'}

#### (3) Series 객체 생성

In [6]:
sr1=Series(datas)
sr1.index , sr1.values

(Index(['name', 'age', 'job'], dtype='object'),
 array(['홍길동', 12, '도적'], dtype=object))

In [7]:
sr1

name    홍길동
age      12
job      도적
dtype: object

#### (4) 인덱싱으로 원소 읽기----------------------

=> 1개 원소 읽기

In [8]:
sr1['age'],sr1[1],sr1.index

(12, 12, Index(['name', 'age', 'job'], dtype='object'))

=> 2개 원소 읽기

In [11]:
# 이름과 직업 데이터 읽기
sr1['name'], sr1['job'], sr1[0], sr1[2]

('홍길동', '도적', '홍길동', '도적')

In [13]:
a=[1,2,3]
b=(11,22,33)
a[0], type(a[0]), a[:1], type(a[:1])

(1, int, [1], list)

In [29]:
#이름과 직업 데이터 읽기 ==> 리스트 단위로 읽기
ret=sr1[['name','job']]
ret2=sr1[[0,2]]
type(ret), ret
type(ret2), ret2

(pandas.core.series.Series,
 name    홍길동
 job      도적
 dtype: object)

(4) 슬라이싱으로 원소 읽기 ----------------------

In [30]:
# 위치 인덱스로 슬라이싱 ------------------------------
sr1[:2]              # 시작 <= ~ < 끝

name    홍길동
age      12
dtype: object

In [33]:
sr1[:]

name    홍길동
age      12
job      도적
dtype: object

In [31]:
sr1[:-2]

name    홍길동
dtype: object

레이블 인덱스로 슬라이싱 -------------------------

In [32]:
sr1['name':'job']

name    홍길동
age      12
job      도적
dtype: object

In [ ]:
sr1['name':'age']

name    홍길동
age      12
dtype: object