## [ DataFrame 에 행/열 추가 ]

(1) 모듈 로딩 ---------------------------------------

In [1]:
import pandas as pd

(2) 데이터 준비 -------------------------------

In [4]:
# dict 타입의 데이터 생성
exam = {'이름' : [ '마징가', '배트맨', '홍길동','임꺽정'],
'국어' : [ 98, 79, 70, 60],
'미술' : [ 78, 89, 95, 80],
'수학' : [ 85, 95, 19, 70],
'체육' : [ 35, 60, 70, 50]}

(3) DataFrame에 데이터 저장

In [5]:
examDF=pd.DataFrame(exam)

In [6]:
examDF # 키 값이 열 인덱스로 들어갔음을 확인할 수 있다
       # Dict 타입을 DataFrame화 시키면 그냥 봤을 때와 달리 열과 행이 바뀐다

    이름  국어  미술  수학  체육
0  마징가  98  78  85  35
1  배트맨  79  89  95  60
2  홍길동  70  95  19  70
3  임꺽정  60  80  70  50

(4) 데이터 저장된 속성 확인 <hr>

In [33]:
def printAttribute(DF) : # 함수화하여 정보 출력 기능을 모듈화
    print(f'index\n ===> {DF.index}')
    print(f'columns\n ===> {DF.columns}')
    print(f'shape\n ===> {DF.shape}')
    print(f'ndim\n ===> {DF.ndim}')
    print(f'values\n ===> {DF.values}')
    print(f'Types : \n ===> {DF.dtypes}')   
    
print(printAttribute(examDF))

index
 ===> RangeIndex(start=0, stop=4, step=1)
columns
 ===> Index(['이름', '국어', '미술', '수학', '체육'], dtype='object')
shape
 ===> (4, 5)
ndim
 ===> 2
values
 ===> [['마징가' 98 78 85 35]
 ['배트맨' 79 89 95 60]
 ['홍길동' 70 95 19 70]
 ['임꺽정' 60 80 70 50]]
Types :
 ===> 이름    object
국어     int64
미술     int64
수학     int64
체육     int64
dtype: object
None

#### (5) DataFrame에 컬럼(column) 추가 <hr>
    * 방법 : DF 객체변수명[새로운 컬러명]=값

In [34]:
examDF.columns

Index(['이름', '국어', '미술', '수학', '체육'], dtype='object')

In [35]:
examDF['영어']=[90,89,100,99]

In [36]:
examDF

    이름  국어  미술  수학  체육  영어
0  마징가  98  78  85  35   1
1  배트맨  79  89  95  60   2
2  홍길동  70  95  19  70   3
3  임꺽정  60  80  70  50   4

In [37]:
# 행 수와 상관없이 한개의 데이터를 넣으면 모든 행에 동일 값으로 저장된다
examDF['과학']=10

In [38]:
examDF

    이름  국어  미술  수학  체육  영어  과학
0  마징가  98  78  85  35   1  10
1  배트맨  79  89  95  60   2  10
2  홍길동  70  95  19  70   3  10
3  임꺽정  60  80  70  50   4  10

In [39]:
examDF['컴퓨터']=[10,20] # 오류가 발생한다

ValueError: Length of values (2) does not match length of index (4)

In [42]:
examDF[0]=0 # 숫자를 넣어도 된다

In [41]:
examDF

    이름  국어  미술  수학  체육  영어  과학  0
0  마징가  98  78  85  35   1  10  0
1  배트맨  79  89  95  60   2  10  0
2  홍길동  70  95  19  70   3  10  0
3  임꺽정  60  80  70  50   4  10  0

(6) DataFrame에 행(row) 추가 <hr>
- 방법 : DF객체변수명.loc[새로운 행 인덱스] = 값 or [컬럼수만큼의 데이터]
- iloc는 사용할 수 없다 => 데이터 존재해야지 인덱스 할당됨

In [43]:
examDF.index

RangeIndex(start=0, stop=4, step=1)

In [46]:
examDF.loc[4]=["원더우먼",1,2,3,4,5,6,7]

In [47]:
examDF

     이름  국어  미술  수학  체육 영어  과학  0
0   마징가  98  78  85  35  1  10  0
1   배트맨  79  89  95  60  2  10  0
2   홍길동  70  95  19  70  3  10  0
3   임꺽정  60  80  70  50  4  10  0
4  원더우먼   1   2   3   4  5   6  7

In [48]:
# 행 추가 시 iloc는 사용불가 -> why? 데이터 수에 맞게 인덱스가 지정되기때문에 현재 데이터에서 벗어나게 된다
# 현재 인덱스에 없는 인덱스로 불가
examDF.iloc[5]=["슈퍼맨",1,2,3,4,5,6,7]

IndexError: iloc cannot enlarge its target object

In [49]:
#1개 데이터가진 행 추가
examDF.loc[3]='슈퍼맨'

In [50]:
examDF

     이름   국어   미술   수학   체육   영어   과학    0
0   마징가   98   78   85   35    1   10    0
1   배트맨   79   89   95   60    2   10    0
2   홍길동   70   95   19   70    3   10    0
3   슈퍼맨  슈퍼맨  슈퍼맨  슈퍼맨  슈퍼맨  슈퍼맨  슈퍼맨  슈퍼맨
4  원더우먼    1    2    3    4    5    6    7