## [ Series 데이터 연산 ]

- (1) 모듈 로딩 <hr>

In [2]:
import pandas as pd
import numpy as np

- (2) 데이터 준비<hr>

In [4]:
data=[5,7, np.nan, 9, 11]

- (3) 데이터 저장 => 1차원 데이터로 Series에 저장

In [5]:
sr = pd.Series(data)

- (4) 데이터 확인

In [7]:
sr.index, sr.shape, sr.dtype # 행도, 열도 아니다

(RangeIndex(start=0, stop=5, step=1), (5,), dtype('float64'))

In [8]:
sr.info()

<class 'pandas.core.series.Series'>
RangeIndex: 5 entries, 0 to 4
Series name: None
Non-Null Count  Dtype
--------------  -----
4 non-null      float64
dtypes: float64(1)
memory usage: 168.0 bytes

In [9]:
sr.describe()

count     4.000000
mean      8.000000
std       2.581989
min       5.000000
25%       6.500000
50%       8.000000
75%       9.500000
max      11.000000
dtype: float64

In [11]:
sr.values

array([ 5.,  7., nan,  9., 11.])

In [12]:
sr.index

RangeIndex(start=0, stop=5, step=1)

- (5) 연산 수행 : 자기 인덱스와 상대 인덱스로 1:1 연산한다
    * Series : 객체 연산자 숫자

In [14]:
sr+5

0    10.0
1    12.0
2     NaN
3    14.0
4    16.0
dtype: float64

In [15]:
sr*5

0    25.0
1    35.0
2     NaN
3    45.0
4    55.0
dtype: float64

In [16]:
sr//5

0    1.0
1    1.0
2    NaN
3    1.0
4    2.0
dtype: float64

In [17]:
sr/5

0    1.0
1    1.4
2    NaN
3    1.8
4    2.2
dtype: float64

In [18]:
sr > 5

0    False
1     True
2    False
3     True
4     True
dtype: bool

In [19]:
sr%5

0    0.0
1    2.0
2    NaN
3    4.0
4    1.0
dtype: float64

In [21]:
pd.DataFrame([sr>5, sr%5]).T # 오마이갓

     0    1
0  0.0  0.0
1  1.0  2.0
2  0.0  NaN
3  1.0  4.0
4  1.0  1.0

In [26]:
(sr >5) & (sr < 10)

0    False
1     True
2    False
3     True
4    False
dtype: bool

In [27]:
(sr >5) | (sr < 10)

0     True
1     True
2    False
3     True
4     True
dtype: bool

- 논리연산 => & : and 연산 | : or연산 ~ : not 연산

In [28]:
sr>5

0    False
1     True
2    False
3     True
4     True
dtype: bool

In [29]:
~(sr>5)

0     True
1    False
2     True
3    False
4    False
dtype: bool

- (6) 연산 수행 => Series 객체 + Series 객체

In [34]:
data2=[2,4,6,8,9]
sr2=pd.Series(data2)
print(sr, sr2, sr+sr2, sr-sr2, sr*sr2, sr/sr2, sr%sr2, sep="\n\n")

0     5.0
1     7.0
2     NaN
3     9.0
4    11.0
dtype: float64

0    2
1    4
2    6
3    8
4    9
dtype: int64

0     7.0
1    11.0
2     NaN
3    17.0
4    20.0
dtype: float64

0    3.0
1    3.0
2    NaN
3    1.0
4    2.0
dtype: float64

0    10.0
1    28.0
2     NaN
3    72.0
4    99.0
dtype: float64

0    2.500000
1    1.750000
2         NaN
3    1.125000
4    1.222222
dtype: float64

0    1.0
1    3.0
2    NaN
3    1.0
4    2.0
dtype: float64

In [35]:
print(sr>sr2, sr<sr2, sep='\n\n')

0     True
1     True
2    False
3     True
4     True
dtype: bool

0    False
1    False
2    False
3    False
4    False
dtype: bool

In [36]:
sr2.index=[2,3,4,5,6]

In [37]:
sr2

2    2
3    4
4    6
5    8
6    9
dtype: int64

In [38]:
sr+sr2

0     NaN
1     NaN
2     NaN
3    13.0
4    17.0
5     NaN
6     NaN
dtype: float64

In [39]:
sr+sr2.reset_index(drop=True)

0     7.0
1    11.0
2     NaN
3    17.0
4    20.0
dtype: float64

In [50]:
print(sr.add(5), sr.add(5, fill_value=0), sep='\n\n')

0    10.0
1    12.0
2     NaN
3    14.0
4    16.0
dtype: float64

0    10.0
1    12.0
2     5.0
3    14.0
4    16.0
dtype: float64

In [51]:
print(sr.sub(5), sr.sub(5, fill_value=0), sep='\n\n')

0    0.0
1    2.0
2    NaN
3    4.0
4    6.0
dtype: float64

0    0.0
1    2.0
2   -5.0
3    4.0
4    6.0
dtype: float64

In [43]:
print(sr.sub(5), sr.sub(sr2.reset_index(drop=True), fill_value=0), sep='\n\n')

0    0.0
1    2.0
2    NaN
3    4.0
4    6.0
dtype: float64

0    3.0
1    3.0
2   -6.0
3    1.0
4    2.0
dtype: float64

In [44]:
print(sr.mul(3), sr.div(3))

0    15.0
1    21.0
2     NaN
3    27.0
4    33.0
dtype: float64 0    1.666667
1    2.333333
2         NaN
3    3.000000
4    3.666667
dtype: float64

In [57]:
sr2=sr2.reset_index(drop=True)
addSr=sr.add(sr2, fill_value=0)
subSr=sr.sub(sr2, fill_value=0)
mulSr=sr.mul(sr2, fill_value=0)
divSr=sr.div(sr2, fill_value=0)
calDF=pd.DataFrame([addSr,subSr,mulSr,divSr], index=["덧셈","뺄셈","곱셈","나눗셈"])
calDF.columns=["11","22","33","44","55"]
calDF

       11     22   33      44         55
덧셈    7.0  11.00  6.0  17.000  20.000000
뺄셈    3.0   3.00 -6.0   1.000   2.000000
곱셈   10.0  28.00  0.0  72.000  99.000000
나눗셈   2.5   1.75  0.0   1.125   1.222222

- (6) DataFrame 연산 수행

In [60]:
df=pd.DataFrame([addSr,subSr,mulSr,divSr], index=['add','sub','mul','div'])
df

        0      1    2       3          4
add   7.0  11.00  6.0  17.000  20.000000
sub   3.0   3.00 -6.0   1.000   2.000000
mul  10.0  28.00  0.0  72.000  99.000000
div   2.5   1.75  0.0   1.125   1.222222

- DataFrame과 숫자 연산 수행

In [61]:
print(df+5, df-5, sep="\n\n") # 5가 브로드캐스팅 되어 다 더해진다

        0      1     2       3           4
add  12.0  16.00  11.0  22.000   25.000000
sub   8.0   8.00  -1.0   6.000    7.000000
mul  15.0  33.00   5.0  77.000  104.000000
div   7.5   6.75   5.0   6.125    6.222222

       0      1     2       3          4
add  2.0   6.00   1.0  12.000  15.000000
sub -2.0  -2.00 -11.0  -4.000  -3.000000
mul  5.0  23.00  -5.0  67.000  94.000000
div -2.5  -3.25  -5.0  -3.875  -3.777778

- DataFrame과 DataFrame 연산 수행 => 동일 위치에 원소끼리 연산 수행

In [62]:
df2=df*10

In [63]:
print(df+df2, df*df2, sep='\n\n')

         0       1     2        3            4
add   77.0  121.00  66.0  187.000   220.000000
sub   33.0   33.00 -66.0   11.000    22.000000
mul  110.0  308.00   0.0  792.000  1089.000000
div   27.5   19.25   0.0   12.375    13.444444

          0         1      2            3             4
add   490.0  1210.000  360.0   2890.00000   4000.000000
sub    90.0    90.000  360.0     10.00000     40.000000
mul  1000.0  7840.000    0.0  51840.00000  98010.000000
div    62.5    30.625    0.0     12.65625     14.938272

- 연산 수행 메소드 활용 => 결측치 즉 NaN 빈칸에 대한 처리를 수행 가능
    * fill_value 파라미터에 값 설정

In [66]:
df.add(df2, fill_value=0)

         0       1     2        3            4
add   77.0  121.00  66.0  187.000   220.000000
sub   33.0   33.00 -66.0   11.000    22.000000
mul  110.0  308.00   0.0  792.000  1089.000000
div   27.5   19.25   0.0   12.375    13.444444