## [ DataFrame 인덱스 다루기 ]

- (1) 새로운 인덱스 설정 : 컬럼 ==> 인덱스 설정 <hr>

- (1)  모듈 로딩 <hr>

In [6]:
import pandas as pd

- (2) 데이터 준비 <hr>

In [31]:
exam = {'이름' : [ '마징가', '배트맨', '홍길동','임꺽정'],
'국어' : [ 98, 79, 70, 60],
'미술' : [ 78, 89, 95, 80],
'수학' : [ 85, 95, 19, 70],
'체육' : [ 35, 60, 70, 50]}

- (3) 데이터 저장

In [52]:
examDF=pd.DataFrame(exam)

- (4) 데이터 확인

In [8]:
examDF

    이름  국어  미술  수학  체육
0  마징가  98  78  85  35
1  배트맨  79  89  95  60
2  홍길동  70  95  19  70
3  임꺽정  60  80  70  50

- (5) 새로운 인덱스 설정 - 방법1 : 인덱스 일부 변경 DF.rename()

In [11]:
# 행 인덱스 일부 변경 => {기본인덱스:새로운인덱스} 
examDF.rename(index={0:'Zero'}) # default로 inplace가 false로 되어있기 때문에 원본은 안바뀐다
examDF.rename(index={0:"Zero"}, inplace=True)
# inplace 매개변수/파라미터 => 원본 DataFrame에 변경 여부 결정, 기본은 원본 변경 안함
examDF

       이름  국어  미술  수학  체육
Zero  마징가  98  78  85  35
1     배트맨  79  89  95  60
2     홍길동  70  95  19  70
3     임꺽정  60  80  70  50

In [14]:
# 열 이름 인덱스 일부 변경 => columns={기존인덱스 : 새로운인덱스}
examDF.rename(columns={"국어":"굶어"}, inplace=True)
examDF

       이름  굶어  미술  수학  체육
Zero  마징가  98  78  85  35
1     배트맨  79  89  95  60
2     홍길동  70  95  19  70
3     임꺽정  60  80  70  50

- (5) 새로운 인덱스 설정 - 방법2 : 특정 컬럼을 인덱스로 설정 => DF.set_index(x)

In [15]:
# 현재 기본 0 ~ ==> 이름 컬럼 인덱스로 설정
examDF.index

Index(['Zero', 1, 2, 3], dtype='object')

In [25]:
examDF.set_index(['이름'], inplace=True)

In [21]:
examDF

     굶어  미술  수학  체육
이름
마징가  98  78  85  35
배트맨  79  89  95  60
홍길동  70  95  19  70
임꺽정  60  80  70  50

In [40]:
# 2의 컬럼을 행 인덱스 설정, 단 inplace 파라미터가 False라서 원본에 적용 안됨
examDF.set_index(['이름','국어','수학'], inplace=True)

In [44]:
examDF.index
examDF

           미술  체육
이름  국어 수학
마징가 98 85  78  35
배트맨 79 95  89  60
홍길동 70 19  95  70
임꺽정 60 70  80  50

In [46]:
examDF.loc['마징가'] # 다른 친구것까지 다 나옴

       미술  체육
국어 수학
98 85  78  35

In [47]:
examDF.loc['마징가',98,85]  # Series형태의 값이 나온다

미술    78
체육    35
Name: (마징가, 98, 85), dtype: int64

In [48]:
# KeyError=> '마징가', 98, 98 형식으로 98로 시작하는 Key없음
examDF.loc[(98,98)]

C:\Users\mathn\AppData\Local\Temp\ipykernel_10512\2047391663.py:2: PerformanceWarning: indexing past lexsort depth may impact performance.
  examDF.loc[(98,98)]

KeyError: 98

- (5) 새로운 인덱스 설정 방법 (3) :

In [53]:
examDF.set_index('이름', inplace=True)
examDF

     국어  미술  수학  체육
이름
마징가  98  78  85  35
배트맨  79  89  95  60
홍길동  70  95  19  70
임꺽정  60  80  70  50

In [54]:
# 현재 행 인덱스 ==> 컬럼으로 추가
examDF.reset_index()

    이름  국어  미술  수학  체육
0  마징가  98  78  85  35
1  배트맨  79  89  95  60
2  홍길동  70  95  19  70
3  임꺽정  60  80  70  50

In [55]:
examDF.reset_index().reset_index()

   index   이름  국어  미술  수학  체육
0      0  마징가  98  78  85  35
1      1  배트맨  79  89  95  60
2      2  홍길동  70  95  19  70
3      3  임꺽정  60  80  70  50

In [1]:
# 현재 행 인덱스를 컬럼에 추가하지 않고 삭제
df2=examDF.reset_index(drop=True)

df2

NameError: name 'examDF' is not defined