[ Excel => DataFrame 저장 다루기 ]

(1) 모듈 로딩 <hr>

In [1]:
import pandas as pd

(2) 데이터 준비

In [3]:
file1='../DATA/Single Worksheet.xlsx'
file2='../DATA/Multiple Worksheets.xlsx'

(3) EXCEL => DataFrame 저장하기

In [5]:
pd.read_excel(file1)

  First Name Last Name           City Gender
0    Brandon     James          Miami      M
1       Sean   Hawkins         Denver      M
2       Judy       Day    Los Angeles      F
3     Ashley      Ruiz  San Francisco      F
4  Stephanie     Gomez       Portland      F

In [10]:
pd.read_excel(file1, header=None, usecols=[0,1,2,3], index_col=0, sheet_name=0)

                    1              2       3
0
First Name  Last Name           City  Gender
Brandon         James          Miami       M
Sean          Hawkins         Denver       M
Judy              Day    Los Angeles       F
Ashley           Ruiz  San Francisco       F
Stephanie       Gomez       Portland       F

In [12]:
pd.read_excel(file2, sheet_name=2) # sheet_name : 엑셀 파일에 여러개의 시트가 있을 경우, 해당 인덱스의 시트를 읽어온다

  First Name  Last Name     City Gender
0     Robert     Miller  Seattle      M
1       Tara     Garcia  Phoenix      F
2    Raphael  Rodriguez  Orlando      M