## [ 중복 데이터 처리 ]
- 중복 데이터 기준 => 행(row)
- 행 단위로 모든 컬럼의 값이 완전히 똑같은 데이터는 중복 데이터
- 처리 => 제거

(1) 모듈로딩 <hr>

In [1]:
import pandas as pd

(2) 데이터 준비 <hr>

In [2]:
file='../DATA/employees.csv'

(3) 데이터 저장 : CSV => DF

In [3]:
empDF=pd.read_csv(file)

(4) 데이터 확인

In [4]:
empDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1001 entries, 0 to 1000
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   First Name  933 non-null    object
 1   Gender      854 non-null    object
 2   Start Date  999 non-null    object
 3   Salary      999 non-null    float64
 4   Mgmt        933 non-null    object
 5   Team        957 non-null    object
dtypes: float64(1), object(5)
memory usage: 47.0+ KB

(5) 데이터 전처리 = 나.중복 데이터 처리 <hr>

- 중복 데이터 체크 => duplicated() : 중복이면 True
- 중복 데이터 처리 => drop_duplicate() :삭제

In [5]:
empDF.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
996     False
997     False
998     False
999     False
1000    False
Length: 1001, dtype: bool

In [6]:
empDF.duplicated().sum() # 0이 나온다면 행끼리는 중복되는 게 없다는 걸 의미한다

0

In [7]:
empDF.Team.duplicated()

0       False
1       False
2       False
3        True
4       False
        ...
996      True
997      True
998      True
999      True
1000     True
Name: Team, Length: 1001, dtype: bool

In [8]:
empDF.Team.duplicated().sum()

990

In [9]:
empDF.Team.nunique()

10

In [14]:
empDF.Team.info()

<class 'pandas.core.series.Series'>
RangeIndex: 1001 entries, 0 to 1000
Series name: Team
Non-Null Count  Dtype
--------------  -----
957 non-null    object
dtypes: object(1)
memory usage: 7.9+ KB